@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --box-size: 10vmax;
    --color-theme: #FFCB05;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Silkscreen', cursive;
}

.__container {
    min-height: 100vh;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-color: #121212;
    position: relative;
}

.__container #__header {
    text-align: center;
    padding: 0rem 0rem 1rem 0;
    font-size: 4.2vmax;
    color: var(--color-theme);
}

.__container .tic_tac_toe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container .__box-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, var(--box-size));
    grid-template-rows: repeat(3, var(--box-size));
    /* place-content: center; */
    background-color: #1d1d1d;
}

.__container .options {
    padding: 1rem 2rem;
    display: flex;
    gap: 10px;
    justify-content: end;

}

.__container #toggleMode,
#reset {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    background-color: var(--color-theme);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    color: #00274c;
    font-size: 11.5px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: none;
}

#reset {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.__container #toggleMode:hover {
    background-color: #fff;
    clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 0% 100%);
}

#reset:hover {
    color: #000;
    background-color: #fff;
}

.__container .__box-container .__box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: var(--color-theme);
    transition: background-color 0.25s ease-in-out;
}

.__container .__box-container .__box.animate {
    animation: move-animation 0.5s forwards linear;
}

@keyframes move-animation {
    from {
        font-size: 0;
    }

    to {
        font-size: 8vmax;
    }
}

#msg-box {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding-top: 2rem;
}

.__container .__box-container .__box:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.be-0 {
    border-right: 0 !important;
}

.bs-0 {
    border-left: 0 !important;
}

.bt-0 {
    border-top: 0 !important;
}

.bb-0 {
    border-bottom: 0 !important;
}

.__container #__line {
    position: absolute;
    /* width: calc(var(--box-size) * 3); */
    height: 3px;
    opacity: 0;
    background-color: var(--color-theme);
    left: 50%;
    transform: rotate(90deg);
    z-index: 1;
    /* transform: translateX(-50%)
    translateY(calc(var(--box-size) / 2)); */
}

.__container #__line.active {
    animation: line-animation 1s forwards linear;
}

@keyframes line-animation {
    from {
        width: 0;
    }

    to {
        width: calc(var(--box-size) * 3);
    }
}